@font-face {
  font-family: "Computer Modern Serif";
  src: url(/font/cmunrm.ttf);
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url(/font/cmunbx.ttf);
  font-weight: bold;
}

body {
  font-family: "Computer Modern Serif", serif;
  font-size: 16pt;
  font-variant-ligatures: none;
  margin: 50px auto;
  padding: 0 10px;
  max-width: 650px;
  color: #444;
}

.homelink {
  margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
  body {
    color:white;
    background:#444
  }
  a:link {
    color:#5bf
  }
  a:visited {
    color:#ccf
  }
}

h1, h2, h3 {
  line-height: 1.2;
}

a {
  color: #524632;
}

hr {
  width: 75%;
  border: none;
  height: 1px;
  color: #292f36;
  background-color: #292f36;
}

ul {
  list-style-type: square;
}

blockquote {
  font-style: italic;
  padding-left: 20px;
  border-left: 3px solid #78c0a8;
}

code {
  font-size: 0.9em;
}
